<% content_for :cover do %>
<div class='center jumbotron'>
  <div class='text-center'>
    <h1>ようこそ</h1>
    <p>ML Mediaは、機械学習関連のニュースや書籍情報をまとめたサイトです</p>
    
    <%= link_to 'Sign up!', signup_path , class: 'btn btn-success btn-lg'%>
    <%= link_to 'Login!', login_path , class: 'btn btn-success btn-lg'%>
    <%= @result%>
    <%= @hash["feed"]["entry"][0].keys %>
  </div>
</div>
<% end %>